@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
}

.action-icon {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    font-size: 18px;
    padding-left: 5px;
}

.checkbox-btn {
    color: rgb(41, 150, 41);
}

.checkbox-btn:hover {
    color: rgb(0, 93, 0);
}

.delete-btn {
    color: rgb(150, 41, 41);
}

.delete-btn:hover {
    color: rgb(93, 0, 0);
}

#add-task-btn {
    margin-top: 31px;
}

/* Dull out the Done table */
.table-container-done {
    opacity: 0.7;
}

.table-container-done table {
    color: #6c757d;
}